* {
    box-sizing: border-box;
  }
  
  

h1 {
  font-family: "Anton", sans-serif;
}

h2 {
  font-family: "Cormorant", serif;
}
h3 {
  font-family: "Cormorant", serif;
}

p {
  font-family: "Baloo Thambi 2", cursive;
}
