---
import "../styles/style.css";
---

<nav>

    <div class="logo">
        <img src="/img/logo.webp" alt="logo">
    </div>

    <ul class="menu">
      <li>
        <a href="/Collections/"> Collections</a>
      </li>
  
      <li>
        <a href="/Shop/"> Shop</a>
      </li>
      <li>
        <a href="/About/">About</a>
      </li>
 
    </ul>
  </nav>

  <style>

.logo{
display: flex;
height: 40px;



}
    .head {
      text-align: center;
      letter-spacing: 0.5rem;
    }

    ul{
        display: flex;
        
    }
   .menu{
    display: flex;
    flex-direction: row;
    gap: 100px;
  justify-content: center;
   }

    nav {
        display: flex;
        flex-direction: row;
      text-align: center;
      border-bottom: 1px solid #0E0E0E;
    }
    li {
      display: inline;
      word-spacing: 50px;
    }
  
    li a {
      text-decoration: none;
      color: black;
      font-family: "Cormorant", serif;
     text-transform: uppercase;
    }
   
  </style>
  