---
import "../styles/style.css";
---

<section  class="boks">

    <div>
        <img src="/img/vision.webp" alt="">
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus error ad provident excepturi ex, unde ut similique esse corrupti vero sed nemo expedita veniam recusandae consequuntur laborum est quae vel.

        </p>
    </div>
</section>


 <style>
   
   .boks{
    display: flex;
    flex-direction: row;
    gap: 100px;
   }

    p {
      text-decoration: none;
      color: black;
      font-family: "Cormorant", serif;
     text-transform: uppercase;
    }
   
  </style>