---
import "../styles/style.css";
---

<section class="boks">

    <div class="img">
        <img src="/img/vision.webp" alt="img">
    </div>
    <div class="grid_1">
        <h2>Our Vision</h2>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus error ad provident excepturi ex, unde ut similique esse corrupti vero sed nemo expedita veniam recusandae consequuntur laborum est quae vel. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem repellat dolorum facilis vero numquam distinctio libero aliquam natus. Blanditiis totam laborum tenetur corporis nulla, aliquid quibusdam quasi repellat qui excepturi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quod fuga quam qui illum consequatur, accusantium illo, minima quo at similique, dolore unde? Atque ad in cupiditate odit eum quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis harum consequuntur iusto nihil rem minima ipsum repellendus impedit illo quo? Minima accusantium dignissimos iste accusamus voluptate! Nesciunt provident temporibus debitis! Lorem ipsum dolor sit amet consectetur adipisicing elit. At, doloribus reiciendis explicabo, officia repudiandae totam laboriosam dolorem unde molestias repellendus accusantium iste enim ut ipsa reprehenderit. Sunt incidunt nihil magni!Lorem
        </p>
    </div>
</section>


 <style>

    .boks{
        display: flex;
        grid-template-columns: 1fr 1fr;
    }

    .grid_1{
        display: grid;
        text-align: center;
        padding: 3rem;
    }
   
   .img{
display: flex;
padding: 1rem;
padding-left: 10rem;

}

.boks img{
    max-width: 400px;

}
img{

}

  </style>